body{
  font-family: 'Space Grotesk', sans-serif;
  font-weight:500;
}
h1{
 
    font-weight:700;
}
h4{
    color:#00008b;
    font-weight:700;
}
.navbar{
    background-color:green;
}

#heading{
    color: #fff;
    font-weight: 600;
    font-size: 25px;
}
#heading:after{
    content: 'Dharsani';
    color:blue;
}
.nav-item{
    padding-left: 10px;
}
.nav-link{
    color: #fff !important;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 18px;
}
.container{
   font-size: 19px;
}
.item{
    height: 600px !important;
    width: 100%;
    background-image: url(../images/girl.jpg);
    filter: brightness(50%);
}

.card{
    margin-top:30px;
}

.head{
    font-size: 70px;
    position: absolute;
    top: 369px;
    left: 350px;
    text-transform: uppercase;
    color: white;
}
.front
 {
    position: absolute;
    bottom: 504px;
    right: 62px;
    color: #fff;
 }
 .front:hover{
    color: cyan;
 }

 .imgage{
    
    height: 224px;
    width: 245px;
 }
 .skills{
   text-align: right;
 }
 .container-fluid{
    margin-bottom: 40px;
 }
.progress{
    height: 40px;
}

.fa-brands{
    font-size: 50px;
    color:#00008b ;
 
}

.fa-regular{
    font-size:50px;
    color:#00008b; 
}
.card:hover{
    background-color:blue;
    color:white;
}
#box{
    background-color: aquamarine !important;
}
.overlay{
    background-color:#00008b;
    height: 490px;
    color: #fff;
}
.icon{
    font-size: 50px;
}
.iconss{
    color:#fff;
}
.cards{
    width: 300px !important;
    height: 200px !important;
    margin:0px 10px 30px 20px;
    margin-left: 10px;
  
}
.fa-solid, .fas {
    font-weight: 900;
    color: blue;
    font-size: 37px;
}
.container-fluidd{
    background-color: blue;
    height: 190px;
    color:#fff;
}
.headd{
    position: relative;
    top:80px;
}
.heads{
    color: blue;
     color:#00008b;
     font-family: 'Arvo', serif;
}
